


<div class='nav'>
    <ul class='lists-left'>
     <%= link_to '新規登録', new_user_registration_path, class: "sign-up" %></li>/
    <%= link_to "ログイン", new_user_session_path, class: "sign-up" %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
</div>
<%= link_to "管理者ログイン", new_admin_session_path %>
<%= link_to "レシピ投稿" , new_recipe_path, method: :get%>

<ul class='recipe-lists'>
  <% @recipes.each do |recipe| %>
  <li clsss='list'>
    <%= link_to recipes_path(recipe) do %>
     <div class='recipe-img-content'>
       <%= image_tag recipe.image, class: "recipe-img"%>
     </div>

     <div clsss='recipe-info'>
       <h3 class='recipe-title'>
        <%= recipe.title %>
       </h3>
     </div> 
  <% end %>   
 </li> 
 <% end %>
</ul>        